<div> <%= link_to "Back to all classes", school_classes_path %> </div>
<div> <%= link_to "Edit this class", edit_school_class_path(@school_class) %> </div>

<br></br>

<div> Title: <%= @school_class.title %> </div>
<div> Room number: <%= @school_class.room_number %> </div>
